.auth {
    overflow: hidden;
}

.logo {
    width: 50%;
    img {
        width: 50%;
    }
}

.inner {
    min-height: calc(100vh - 57px - 72px);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.form {
    color: var(--color-text-primary);
    width: 800px;
    background: var(--color-bg);
    padding: 2rem;
    box-shadow: 0px 0px 5px 0 var(--color-primary);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        width: calc(30% - 3rem);
        margin-right: 3rem;
        margin-top: 2rem;
    }
}

.content {
    width: 70%;
    & > * {
        margin-top: 1rem !important;
        width: 100%;
        display: block;
    }
}

.registrationContainer {
    overflow: hidden;
    margin: 0 !important;
    & > * {
        margin-top: 1rem !important;
        width: 100%;
        display: block;
    }
}

.title {
    text-align: center;
    margin: 0 !important;
    padding-bottom: 1rem;
    margin-bottom: 1rem !important;
    border-bottom: 2px solid var(--color-primary);
}

.errorMessage {
    margin: 0;
    color: var(--color-primary);
    font-weight: 500;
}